<!doctype html>
<html>
    <head>
        <title>SSD-Assignment 2</title>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
            <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> 
            <style>
                body { padding-top:80px; }
                .link{
                    padding-top:40px;
                }
                h2{
                    padding-top:40px;
                }
            </style> 
    </head>
    <body>
        <div class="container">
            <div class="jumbotron text-center">
                <h1>Secure Software Development</h1>
                <h2>Assignment 2</h2>
                <div class="col-md-12 link">
                        <a href="<%=url%>" class="btn btn-primary"><span class="fa fa-google-plus"></span> Login with Google</a>
                </div>
            </div>
        </div>
    </body>
</html>